// These colors are specific to the theme. Do not use in a package!

@white: #9FA5B0;
@very-light-gray: #F5F7FA;
@light-gray: #656D78;
@gray: #27292D;
@dark-gray: #17191C;
@very-dark-gray: #1A1D20;

@teal:              #32CCBE;
@light-teal:        #95E9E1;
@green:             #A0D468;
@cyan:              #4DCBD2;
@blue:              #5D9CEC;
@indigo:            #5E5AFF;
@purple:            #AC92EC;
@pink:              #EF67EF;
@red:               #ED5565;
@strong-orange:     #E36500;
@orange:            #FCA551;
@light-orange:      #FFCE54;
